<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <script src="https://kit.fontawesome.com/0b68ed503d.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="/phone-number-validation-master/build/css/demo.css">
  <link rel="stylesheet" href="/phone-number-validation-master/build/css/intlTelInput.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/public/index.css" />
  <style>
    .d1{
      width: 60vw;margin: 0px auto
    }
    a{
      color: aquamarine;
    }
    .h1{
      font-size: 40px; margin-bottom: 80px;
    }
    @media only screen and (max-width:820px){
      .h1{
      font-size: 35px; margin-bottom: 80px;
    }
      .d1{
      width: 90vw;margin: 0px auto
    }
    }
  </style>
</head>

<body>

  <header>
    <a href="/webinar">
        <img src="/pictures/Tradecorrect_PNG_Black.png" alt="" srcset="">
    </a>

    <div class="third">
      <a href="https://wa.link/el66ax"><button class="button2">Contact us</button></a>
    </div>
  </header>

  <div class="d1">
    <h1 class="h1">Privacy Policy for TradeCorrect.org</h1>
    <p>This Privacy Policy was last updated on June 22, 2024.</p>
    <p>Email: <a href="mailto:info@TradeCorrect.org">info@TradeCorrect.org</a></p>
    <p>TradeCorrect.org (“we,” “us,” or “our”) is committed to protecting the privacy and security of the personal information of our users. This privacy policy describes how we collect, use, and disclose personal information about our users who visit our website, TradeCorrect.org (the “Website”).</p>
    
    <h2>What Personal Information We Collect</h2>
    <p>We collect personal information that you voluntarily provide to us when you visit the Website or communicate with us, such as your name, email address, and other contact information. We may also collect information about your use of the Website, such as your IP address, browser type, and device information. Additionally, we use cookies, web beacons, and similar technologies to collect information about your use of the Website and to improve the Website’s functionality.</p>

    <h2>How We Use Your Personal Information</h2>
    <p>We use your personal information to provide you with our services and to improve the Website’s functionality. We may also use your personal information to communicate with you about our services, to respond to your inquiries, and to provide you with marketing materials about our services or those of our affiliates. We may also use your personal information for research and analytics purposes.</p>

    <h2>Disclosure of Personal Information</h2>
    <p>We may share your personal information with our affiliates, partners, and service providers who assist us in providing our services. We may also share your personal information with third-party advertisers and marketing partners who assist us in marketing our services. We may also disclose your personal information if required by law or if we believe that such disclosure is necessary to protect our rights or to comply with a court order or legal process.</p>

    <h2>Cookies and Other Technologies</h2>
    <p>We use cookies, web beacons, and other similar technologies to collect information about your use of the Website and to improve the Website’s functionality. We may use both session cookies and persistent cookies to improve the user experience and to track user behavior on the Website.</p>

    <h2>Data Retention and Security</h2>
    <p>We retain your personal information for as long as necessary to fulfill the purposes for which it was collected, unless a longer retention period is required by law. We implement reasonable security measures to protect your personal information from unauthorized access, disclosure, and use.</p>

    <h2>Marketing Communications</h2>
    <p>You may choose to receive marketing communications from us or our affiliates by providing your contact information to us. You may opt-out of receiving such communications at any time by following the instructions in the communication or by contacting us.</p>

    <h2>Third-Party Links</h2>
    <p>The Website may contain links to third-party websites or services that are not operated by us. We are not responsible for the privacy practices or content of such websites or services. We encourage you to review the privacy policies of any third-party websites or services that you access.</p>

    <h2>Children’s Privacy</h2>
    <p>The Website is not intended for children under the age of 18, and we do not knowingly collect personal information from children under the age of 18. If you are under the age of 18, please do not provide us with any personal information.</p>

    <h2>International Users</h2>
    <p>The Website is operated in Nigeria. If you are accessing the Website from outside of Nigeria, please be aware that your personal information may be transferred to, stored, and processed in Nigeria. By using the Website, you consent to the transfer of your personal information to Nigeria.</p>

    <h2>Changes to this Privacy Policy</h2>
    <p>TradeCorrect.org reserves the right to modify or update this privacy policy at any time without prior notice. We may make changes to this privacy policy to reflect changes in our business practices, legal or regulatory requirements, or for any other reason we deem necessary or appropriate. Your continued use of the Website after we make any changes to this privacy policy constitutes your acceptance of the updated policy. If you do not agree to any changes we make to this privacy policy, you should stop using the Website immediately. If you have any questions or concerns about this privacy policy or any changes we make to it, please contact us using the contact information provided on the Website.</p>
</div>


  

  <footer style="margin-top: 100px;">
    <div class="socials">
      <a href="https://wa.link/el66ax"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="https://wa.link/el66ax"><i class="fa-brands fa-telegram"></i></a>
    </div>
    <p>@2024 TradeCorrect, Inc. All right reserved.</p>
  </footer>


</body>
</html>
